pip install --upgrade pip
streamlit
pandas
numpy
matplotlib
seaborn
spacy
es-core-news-sm
wordcloud
nltk
unidecode
transformers
bertopic
openai
python-dotenv
rich==13.9.4
pygments==2.19.1
markdown-it-py==3.0.0
mdurl==0.1.2
python-dotenv
scikit-learn
nltk
unidecode
transformers
altair
re
import seaborn as sns
word_tokenize
stopwords
pipeline
Counter
OpenAI
load_dotenv
os
io  