streamlit
pandas
numpy
matplotlib
seaborn
spacy
es-core-news-sm
wordcloud
nltk
unidecode
transformers
bertopic
openai
python-dotenv
rich==13.9.4
pygments==2.19.1
markdown-it-py==3.0.0
mdurl==0.1.2
python-dotenv
scikit-learn
nltk
unidecode
transformers
import streamlit as st
from streamlit_option_menu import option_menu
import altair as alt
import pandas as pd
import numpy as np
import re
import matplotlib.pyplot as plt
import seaborn as sns
from wordcloud import WordCloud
import spacy
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from unidecode import unidecode
from transformers import pipeline
import nltk
from collections import Counter
from bertopic import BERTopic
from openai import OpenAI
from dotenv import load_dotenv
import os
import io  